arcade==2.4.2
attrs==20.2.0
cffi==1.14.2
Cython==0.29.21
joblib==0.17.0
numpy==1.19.1
Pillow==7.2.0
pyboy==1.2.5
pycparser==2.20
pyglet==1.5.7
pymunk==5.6.0
pynput==1.7.1
PySDL2==0.9.7
pytiled-parser==0.9.4a3
PyYAML==5.3.1
scikit-learn==0.23.2
scipy==1.5.2
six==1.15.0
threadpoolctl==2.1.0